body {
  margin: 0%;
  padding: 0%;
}

.container {
  background-image: url("./img/background.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
  padding: 0%;
  margin: 0%;
}

.logo {
  margin: 2rem;
  width: 12rem;
  height: 12rem;
  filter: drop-shadow(0 0 0.75rem white);
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.link {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 15rem;
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 2rem;
  border-color: black;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.link:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.form {
  background-color: rgba(255, 255, 255, 0.8);
  width: 15rem;
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 1rem;
  border-color: black;
  border-style: solid;
  border-width: thin;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  width: 10rem;
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.submit-btn {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(71, 71, 71);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(71, 71, 71);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(71, 71, 71);
}

.close {
  color: #818181;
  font-size: 30px;
  font-weight: bold;
  padding-left: 14rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.register-heading {
  text-decoration: underline;
}