body {
  margin: 0%;
  padding: 0%;
}

.container {
  background-image: url("./assets/img/background.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 30rem;
  object-fit: contain;
  padding-left: 30px;
  margin: 0%;
}

.logo {
  width: 30rem;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.link {
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  width: 15rem;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 2rem;
  border-color: rgb(255, 255, 255, 0.5);
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.link:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
}

#mask {
  display: none;
  position: fixed; 
  top: 0;
  margin: 0%;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.form {
  background-color: rgba(0, 0, 0);
  z-index: 1; 
  width: 17rem;
  height: 25rem;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  text-decoration: none;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  text-align: center;
  display: none;
  position: fixed;
  top: 350px;
}

.form-control {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  width: 10rem;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.submit-btn {
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 1rem 2rem;
  border-color: white;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.submit-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(71, 71, 71);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(71, 71, 71);
} 

.close {
  color: #818181;
  font-size: 30px;
  font-weight: bold;
  padding-left: 14rem;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.register-heading {
  text-decoration: none;
}